.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: auto;
    gap: 20px;
}



.data {
    height: 220px;
    justify-content: center;
    display: flex;
    padding: 1px 1px;
    flex: 1;
    height: auto;
    /* overflow: hidden; */
    flex-direction: column;
    background-color: #ffff;
}

.link {
    min-height: 350px;
    border: 1px solid rgb(197, 219, 219);
}

.productfooter {
    display: flex;
    color: lightslategrey;
    gap: 50px;
    margin: 0px;
    height: 10px;
}

.date {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    left: 0;

    position: static;
}

.data-name {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    left: 0;
    color: rgb(83, 83, 83);
}

.price {
    justify-content: flex-start;
    display: flex;
    background-color: #ffff;
    font-weight: bold;
}

.datapic {
    width: 100%;
    background-color: #ffff;
}

.image {
    width: 100%;
    height: 200px;
    flex: 4;

    background-color: rgb(171, 96, 96);
}

.addBtn {

    background-color: lightslategray;
    color: #ffff;
}

@media only screen and (max-width: 912px) {
    .container {
        display: grid;
        width: 912px;
        grid-template-columns: 300px 300px;
        gap: 20px;
        padding: 0px;

    }
}
@media only screen and (max-width: 780px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px;
        align-items: center;
        width: 100%;

    }

    .data {
        height: 220px;
        width: auto;
        justify-content: center;
        display: flex;

        height: auto;
        /* overflow: hidden; */
        /* flex-direction: column; */
        background-color: #ffff;
    }

}

@media only screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 300px;
        align-items: center;
        width: 100%;

    }
   .data {
       height: 220px;
       width: 300px;
       justify-content: center;
       display: flex;
    
       height: auto;
       /* overflow: hidden; */
       /* flex-direction: column; */
       background-color: #ffff;
   }
   
}