.container {
    justify-content: center;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: auto;
    gap: 20px;
}




.link {
    min-height: 350px;
    border: 1px solid rgb(197, 219, 219);
}



.fav {
    position: relative;
    width: 10px;
    height: 0px;
    right: -270px;
    color: rgb(221, 221, 221);
    visibility: hidden;
    /* margin: 0px 10px; */
    /* padding: 10px; */
}

.liked {

    position: absolute;
  right: 0px;
  top: 0px;
    color: rgb(255, 242, 0);
}


.data {
    height: 220px;
    justify-content: center;
    display: flex;
    padding: 1px 1px;
    flex: 1;
    height: auto;
    position: relative;
    flex-direction: column;
    background-color: #ffff;
}

.datapic {
    width: 100%;
    background-color: #ffff;
}

.data-name {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 65px;
    margin: 0px 10px;
    left: 0;
    color: rgb(83, 83, 83);
}

.price {
    margin-left: 10px;
    justify-content: flex-start;
    display: flex;
    background-color: #ffff;
    font-weight: bold;
}

.productfooter {
    display: flex;
    color: lightslategrey;
    gap: 50px;
    height: 10px;
}

.date {
    margin-right: 10px;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex: 1;
    left: 0;
    position: static;
}


.image {

    width: 100%;
    /* margin-top: 10px; */
    height: 200px;
    flex: 4;
}

.addBtn {

    background-color: lightslategray;
    color: #ffff;
}

@media only screen and (max-width: 912px) {
    .container {
        display: grid;
        width: 912px;
        grid-template-columns: 300px 300px;
        gap: 20px;
        padding: 0px;

    }
}

@media only screen and (max-width: 780px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px;
        align-items: center;
        width: 100%;

    }

    .data {
        height: 220px;
        width: auto;
        justify-content: center;
        display: flex;

        height: auto;
        /* overflow: hidden; */
        /* flex-direction: column; */
        background-color: #ffff;
    }

}

@media only screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 300px;
        align-items: center;
        width: 100%;

    }

    .data {
        height: 220px;
        width: 300px;
        justify-content: center;
        display: flex;

        height: auto;
        /* overflow: hidden; */
        /* flex-direction: column; */
        background-color: #ffff;
    }

}