.modal{
    background-color: rgb(255, 255, 255);
    width: 29%;
    position: absolute;
    height: 70vh;
    top: 80px;
    left: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formarea{
    width: 100%;
    display: flex;
    flex-direction: column;
   /* flex: 5;     */
}
.form{
    /* padding: 45px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.close{
    padding: 5px 0px 5px 5px;
    background-color: gainsboro;
}
.value{
    width: 90%;
    height: 45px;
    margin: 10px;
    border-radius: 3px;
}
.modal .close{
   display: flex;
   background-color: aliceblue;
   left: 45%; 
   position: relative;
}
.login-sign{
    border: none;
    height: 50px;
    width: 97%;
    margin: 10px;
    background-color: rgb(85, 90, 93);
    color: #ffff;
    display: inline;
}
.login-sign:hover {
    border: none;
    /* padding: 10px 29px; */
    width: 97%;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(54, 132, 177);
}
