.header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center;    */
    position: sticky;
    top: -10px;
    width: 100%;
    background-color: orange;
    height: 60px;
    font-family: serif;
    display: flex;
    margin: auto;
}

.logo {
    flex: 1;
    margin: auto;
}




.searchfield {
    display: flex;
    flex: 2;
    margin: 9px 0px;

}

.searchfield button {
    color: white;
    width: 50px;
    background-color: #414141;
}

.search {
    height: 98%;
    background-color: #ffff;
    color: orange;
    border: none;

}

.searchinput {
    width: 100%;
}

.hello {
    font-size: 12px;
    flex: 1;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 0px;
    display: flex;
    color: #414141;
    flex-direction: row;
}

#user {
    display: flex;


    gap: 10px;
}

.login {
    flex: 1;
    color: rgb(38, 38, 39);
    margin: 10px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: none;
}

.order {
    flex: 1;
    /* background-color: rgb(161, 138, 176); */

    display: flex;
    flex-direction: row;
    color: rgb(161, 138, 176);
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 480px) {
    .header {
        width: 100%;

        /* padding-right: 10px; */
    }

    /* .searchfield{
    padding: 60px;
} */
    .logo img {
        width: 70px;
        height: 30px;
    }
}